nav {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #2276e3;
    justify-content: center;
    vertical-align: middle;
    box-shadow: 0 2px 5px 2px gray;
}

li {
    float: left;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-size: 16px;
    justify-content: center;
}

li:nth-child(2) {
  margin-top: 17px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#brand-logo {
    border-radius: 10px;
}